<div class="container-fluid my-1">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 col-12 fs-3">{{Label.Edit}} {{Label.PollingStation}}</div>
                <div class="col-sm-6 col-12 text-end pt-2">
                    <a href="/back/team/PollingStation/add"><i class="fa fa-plus"></i> {{Label.Add}}</a> &nbsp; 
                    <a href="/back/team/PollingStation/list"><i class="fa fa-list"></i> {{Label.List}}</a>
                </div>
            </div>
        </div><!-- card-header -->
        <form class="form-horizontal" method="post" action="/back/team/PollingStation/save">
        <div class="card-body">
            {{> Back/PollingStation/PollingStationField1}}
            {{> Back/PollingStation/PollingStationField2}}
            {{> Back/PollingStation/PollingStationField3}}
        </div><!-- card-body -->
        <div class="card-footer">
            <input type="submit" id="Submit" class="btn btn-success" value="{{Label.Save}}">
            <a href="/back/team/people" class="btn btn-default float-right">{{Label.Cancel}}</a>
        </div>
        <!-- /.card-footer -->

        <input type="hidden" name="PollingStationID" value="{{PollingStation.ID}}">
        <input type="hidden" id="BACKEND_URL"   value="{{FormControl.BACKEND_URL}}">
        </form>
    </div><!-- card -->
</div><!-- container-fluid -->
<div id="Debug"></div>

{{> Back/PollingStation/PollingStationScript}}
{{> Back/PollingStation/PollingStationMapScript}}
