{{#ifCond People.ID '!=' 'add'}}
<div class="form-group row">
    <label for="ID" class="{{FormControl.LabelClass}} col-form-label">ID</label>
    <div class="{{FormControl.InputClass}}">
        <input type="text" class="form-control" value="{{People.ID}}" readonly>
    </div>
</div>
{{/ifCond}}

<div class="form-group row">
    <label for="FirstName" class="{{FormControl.LabelClass}} col-form-label">{{Label.FirstName}}</label>
    <div class="{{FormControl.InputClass}}">
        <input type="text" class="form-control" id="FirstName" name="FirstName" value="{{People.FirstName}}" placeholder="{{Label.FirstName}}" 
        {{#ifCond FormControl.Mode '==' 'View'}} readonly> {{else}} > {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="LastName" class="{{FormControl.LabelClass}} col-form-label">{{Label.LastName}}</label>
    <div class="{{FormControl.InputClass}}">
        <input type="text" class="form-control" id="LastName" name="LastName" value="{{People.LastName}}" placeholder="{{Label.LastName}}" 
        {{#ifCond FormControl.Mode '==' 'View'}} readonly> {{else}} > {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="NickName" class="{{FormControl.LabelClass}} col-form-label">{{Label.NickName}}</label>
    <div class="{{FormControl.InputClass}}">
        <input type="text" class="form-control" id="NickName" name="NickName" value="{{People.NickName}}" placeholder="{{Label.NickName}}" 
        {{#ifCond FormControl.Mode '==' 'View'}} readonly> {{else}} > {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="Telephone" class="{{FormControl.LabelClass}} col-form-label">{{Label.Telephone}}</label>
    <div class="{{FormControl.InputClass}}">
        <input type="tel" class="form-control" id="Telephone" name="Telephone" value="{{People.Telephone}}" placeholder="{{Label.Telephone}}" 
        {{#ifCond FormControl.Mode '==' 'View'}} readonly> {{else}} > {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="Code" class="{{FormControl.LabelClass}} col-form-label">{{Label.ColorCode}}</label>
    <div class="{{FormControl.InputClass}} pt-1">
        {{#ifCond FormControl.Mode '==' 'View'}}  
            {{{People.Color}}}
        {{else}} 
            {{{FormControl.InputColor}}}
        {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="Picture" class="{{FormControl.LabelClass}} col-form-label">{{Label.Picture}}</label>
    <div class="{{FormControl.InputClass}}">
        {{#ifCond FormControl.Image '!=' null}} 
            <a href="{{FormControl.Image}}" target="_blank"><img src="{{FormControl.Image}}" height="100"></a> &nbsp; 
        {{/ifCond}}
        {{#ifCond FormControl.Mode '!=' 'View'}} 
            <input type="file" name="file" class="form-control" accept="image/*, video/*" capture  onchange="CheckFileSize(this)">
            <span id="FileSizeLimit10" class="text-danger d-none">{{Label.FileSizeLimit10}}</span>
            <input type="hidden" id="FileSizeError" value="N">
        {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="Remark" class="{{FormControl.fullLabelClass}} col-form-label">{{Label.Remark}}</label>
    <div class="{{FormControl.fullInputClass}}">
        <textarea class="form-control" id="Remark" name="Remark" placeholder="{{Label.Remark}}"
        {{#ifCond FormControl.Mode '==' 'View'}} readonly {{/ifCond}}>{{People.Remark}}</textarea>
    </div>
</div>

{{{FormControl.SelectSubDistrict}}}
{{{FormControl.SelectMemberType}}}
{{{FormControl.SelectMemberRole}}}

<input type="hidden" name="BirthDate" value="{{People.BirthDate}}">
<input type="hidden" name="IsActive" value="{{People.IsActive}}">