<div class="form-group row">
    <label for="sub_district_ID" class="{{FormControl.LabelClass}} col-form-label">{{Label.SubDistrict}}</label>
    <div class="{{FormControl.InputClass}}" id="SelectSubDistrict">
        {{#ifCond FormControl.Mode '==' 'View'}}  
            <input type="text" class="form-control" value="{{PollingStation.SubDistrict}}" readonly>
        {{else}} 
            {{{FormControl.SelectSubDistrict}}}
        {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="VillageNumber" class="{{FormControl.LabelClass}} col-form-label">{{Label.VillageNumber}}</label>
    <div class="{{FormControl.InputClass}}">
        <input type="number" class="form-control" id="VillageNumber" name="VillageNumber" min="1" 
            value="{{PollingStation.VillageNumber}}" placeholder="{{Label.VillageNumber}}" 
            {{#ifCond FormControl.Mode '==' 'View'}} readonly> {{else}} > {{/ifCond}}
    </div>
</div>

<div class="form-group row">
    <label for="ElectionDistrictNumber" class="col-4 col-form-label">{{Label.ElectionDistrictNumber}}</label>
    <div class="col-8">
        <input type="hidden" id="ElectionDistrictNumber" name="ElectionDistrictNumber" 
            value="{{PollingStation.ElectionDistrictNumber}}">

        <!-- Buttons -->
        <button type="button" class="btn rounded-pill px-3 py-2 btnElectionDistrictNumber
            {{#ifCond PollingStation.ElectionDistrictNumber '==' 1}} btn-people-party {{else}} btn-outline-secondary {{/ifCond}}"  
            onclick="clickElectionDistrictNumber(this, 'ElectionDistrictNumber', 1, {{PollingStation.community_ID}})" 
            {{#ifCond FormControl.Mode '==' 'View'}} disabled {{/ifCond}}
            >1</button>
        <button type="button" class="btn rounded-pill px-3 py-2 btnElectionDistrictNumber
            {{#ifCond PollingStation.ElectionDistrictNumber '==' 2}} btn-people-party {{else}} btn-outline-secondary {{/ifCond}}"  
            onclick="clickElectionDistrictNumber(this, 'ElectionDistrictNumber', 2, {{PollingStation.community_ID}})"
            {{#ifCond FormControl.Mode '==' 'View'}} disabled {{/ifCond}}
            >2</button>
        <button type="button" class="btn rounded-pill px-3 py-2 btnElectionDistrictNumber
            {{#ifCond PollingStation.ElectionDistrictNumber '==' 3}} btn-people-party {{else}} btn-outline-secondary {{/ifCond}}"  
            onclick="clickElectionDistrictNumber(this, 'ElectionDistrictNumber', 3, {{PollingStation.community_ID}})"
            {{#ifCond FormControl.Mode '==' 'View'}} disabled {{/ifCond}}
            >3</button>
        <button type="button" class="btn rounded-pill px-3 py-2 btnElectionDistrictNumber
            {{#ifCond PollingStation.ElectionDistrictNumber '==' 4}} btn-people-party {{else}} btn-outline-secondary {{/ifCond}}"  
            onclick="clickElectionDistrictNumber(this, 'ElectionDistrictNumber', 4, {{PollingStation.community_ID}})"
            {{#ifCond FormControl.Mode '==' 'View'}} disabled {{/ifCond}}
            >4</button>
    </div>
</div>

<div class="form-group row">
    <label for="Community" class="{{FormControl.LabelClass}} col-form-label">{{Label.Community}}</label>
    <div class="{{FormControl.InputClass}}" id="SelectCommunity">
        {{#ifCond FormControl.Mode '==' 'View'}}  
            <input type="text" class="form-control" value="{{PollingStation.Community}}" readonly>
        {{else}} 
            {{{FormControl.SelectCommunity}}}
        {{/ifCond}}
    </div>
</div>
